@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
}
html{
  font-family: "Kanit", sans-serif;
  letter-spacing: 1px;
}
:root{
  --mode:#000;
  --secColor: rgb(24,24,27);
  --line:rgba(64,63,70, 0.4);
  --title:#fff;
  --subTitle:rgb(161,161, 170);
  /* --bgHeader:rgb(39,39, 24); */
  /* --bgHeader:rgb(45, 24, 34); */
  /* --mainColor:rgb(142,58,89); */
  --bgHeader:rgb(70, 37, 53);
  --mainColor:rgb(255, 162, 201);
  --icon-hover:#d4d4d8;
  --blue: rgb(0, 162, 255);
}

.light{
  --mode:#fff;
}

body{
  background-color: var(--secColor);
  color: #fff;
}
.container{
  /* border: 2px solid var(--line); */
  width: 80%;
  margin: auto;
  background-color: var(--secColor);
}
.divider{
  border: 1px solid var(--line);
  margin: 20px 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: initial;
  transition: 0.2s;
}
a:hover{
  cursor: pointer;
}
.flex{
  display: flex;
  align-items: center;
}
button{
  all: unset;
}
button:hover{
  cursor: pointer;
}
button:active{
  scale: 0.8;
}